@import 'fonts.css';

:root {
    --main-color: #151515;
    --text-color: #fff;
    --text-color-second: #8D8180;
    --backgraund: #FCB357;
    --btn-primary-hover: #e29a42;
    --shadow: #fab866;
    --title-span: #E6A859;;
    --btn-read: #FFB44F;
}

body {
    font-family: 'Poppins', sans-serif;

}

/* subnavbar */
.navbar {
    width: 100%;
    max-width: 1423px;
    margin: 0 auto;
}

.navbar-brand {
    position: relative;
}

.navbar-brand::before {
    content: url("data:image/svg+xml,%3Csvg width='15' height='2' viewBox='0 0 15 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='15' height='2' rx='1' fill='white'/%3E%3C/svg%3E");
    left: 177px;
    bottom: -18px;
    position: absolute;
}

.navbar>.container-fluid {
    max-width: 1230px;
}

.navbar-light .navbar-brand,
.navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 122px 0 149px;
    color: var(--text-color) !important;
}

.navbar-nav .nav-link {
    padding-right: 60px !important;
}

.dropdown-menu {
    background-color: var(--main-color);
    background-clip: padding-box;
    border: 1px solid rgba(228, 219, 219, 0.15);
    border-radius: 20px;
}

.dropdown-item {
    font-size: 16px;
    color: var(--text-color);
}

.bg-light {
    background-color: transparent !important;
}

.btn-outline-success {
    min-width: 190px;
    height: 54px;
    border: 1px solid var(--backgraund);
    font-weight: 600;
    font-size: 14px;
    color: var(--backgraund);
    border-radius: 27px;
}

.btn-outline-success:hover {
    border: 1px solid var(--text-color);
    background: none;
    color: var(--text-color);
}

/* baner */
.baner-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: url(../img/baner.svg) center no-repeat;
    min-height: 964px;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: var(--main-color);
}
.baner-content {
    display: flex;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 296px 0;
    flex-direction: column;
    align-items: center;
}

#demo-nav-menu {
    display: flex;
    margin-bottom: 41px;

}

.demo-nav-menu-item {
    display: flex;
    list-style: none;
    padding: 0 45px;
    border-left: 1px solid var(--text-color);

}

.demo-nav-menu-item a {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

.demo-nav-menu-item:last-child {
    border-right: 1px solid var(--text-color);
}

.demo-nav-menu a:hover {
    color: #9b9999;
}

.section-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 142px;
}

.btn-primary {
    min-width: 321px;
    height: 76px;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
    padding: 24px 82px;
    background-color: var(--backgraund);
    border: none;
    border-radius: 53px;
    box-shadow: -1px 0px 21px 5px var(--shadow);
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
    font-size: 20px;
    padding: 24px 75px;

}

.about-us-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 69px 376px;
    grid-template-areas:
        "img-box text-box"
        "img-box second-img"

}

.title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: var(--text-color);
    padding: 90px 0 127px;
    position: relative;
    letter-spacing: 1px;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    left: calc(50% - 25px/2 + 0.5px);
    bottom: 83px;
    background: var(--text-color);
    border-radius: 60px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.title::after {
    width: 73px;
    left: calc(50% - 73px/2 + 0.5px);
    bottom: 101px;
}

.img-box {
    grid-area: img-box;
    position: absolute;
    max-width: 457px;
    max-height: 604px;
    margin-top: -15px;
    margin-left: 349px;
    background: linear-gradient(180deg, #FFB44F 0%, #F2864A 100%);

}

.img-box::after {
    content: url("data:image/svg+xml,%3Csvg width='59' height='204' viewBox='0 0 59 204' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10154_98)'%3E%3Cpath d='M0 11.5157C0 5.15726 5.13772 0 11.4721 0C17.8065 0 22.9442 5.15726 22.9442 11.5157C22.9442 17.8742 17.8105 23.0315 11.4721 23.0315C5.13373 23.0315 0 17.8782 0 11.5157Z' fill='%231C1C1C'/%3E%3Cpath d='M47.5268 23.0315C53.8627 23.0315 58.9989 17.8757 58.9989 11.5157C58.9989 5.15577 53.8627 0 47.5268 0C41.1909 0 36.0547 5.15577 36.0547 11.5157C36.0547 17.8757 41.1909 23.0315 47.5268 23.0315Z' fill='%231C1C1C'/%3E%3Cpath d='M0 47.7086C0 41.3501 5.13772 36.1929 11.4721 36.1929C17.8065 36.1929 22.9442 41.3501 22.9442 47.7086C22.9442 54.0671 17.8065 59.2244 11.4721 59.2244C5.13772 59.2244 0 54.0711 0 47.7086Z' fill='%231C1C1C'/%3E%3Cpath d='M47.5268 59.2244C53.8627 59.2244 58.9989 54.0686 58.9989 47.7086C58.9989 41.3486 53.8627 36.1929 47.5268 36.1929C41.1909 36.1929 36.0547 41.3486 36.0547 47.7086C36.0547 54.0686 41.1909 59.2244 47.5268 59.2244Z' fill='%231C1C1C'/%3E%3Cpath d='M0 83.9056C0 77.5472 5.13772 72.3899 11.4721 72.3899C17.8065 72.3899 22.9442 77.5472 22.9442 83.9056C22.9442 90.2641 17.8065 95.4214 11.4721 95.4214C5.13772 95.4214 0 90.2641 0 83.9056Z' fill='%231C1C1C'/%3E%3Cpath d='M47.5268 95.4214C53.8627 95.4214 58.9989 90.2656 58.9989 83.9056C58.9989 77.5457 53.8627 72.3899 47.5268 72.3899C41.1909 72.3899 36.0547 77.5457 36.0547 83.9056C36.0547 90.2656 41.1909 95.4214 47.5268 95.4214Z' fill='%231C1C1C'/%3E%3Cpath d='M0 120.099C0 113.74 5.13772 108.583 11.4721 108.583C17.8065 108.583 22.9442 113.74 22.9442 120.099C22.9442 126.457 17.8065 131.614 11.4721 131.614C5.13772 131.614 0 126.457 0 120.099Z' fill='%231C1C1C'/%3E%3Cpath d='M47.5268 131.614C53.8627 131.614 58.9989 126.458 58.9989 120.099C58.9989 113.739 53.8627 108.583 47.5268 108.583C41.1909 108.583 36.0547 113.739 36.0547 120.099C36.0547 126.458 41.1909 131.614 47.5268 131.614Z' fill='%231C1C1C'/%3E%3Cpath d='M0 156.291C0 149.933 5.13772 144.775 11.4721 144.775C17.8065 144.775 22.9442 149.933 22.9442 156.291C22.9442 162.65 17.8065 167.807 11.4721 167.807C5.13772 167.807 0 162.65 0 156.291Z' fill='%231C1C1C'/%3E%3Cpath d='M47.5268 167.807C53.8627 167.807 58.9989 162.651 58.9989 156.291C58.9989 149.931 53.8627 144.775 47.5268 144.775C41.1909 144.775 36.0547 149.931 36.0547 156.291C36.0547 162.651 41.1909 167.807 47.5268 167.807Z' fill='%231C1C1C'/%3E%3Cpath d='M0 192.484C0 186.126 5.13772 180.969 11.4721 180.969C17.8065 180.969 22.9442 186.126 22.9442 192.484C22.9442 198.843 17.8065 204 11.4721 204C5.13772 204 0 198.847 0 192.484Z' fill='%231C1C1C'/%3E%3Cpath d='M47.5268 204C53.8627 204 58.9989 198.844 58.9989 192.484C58.9989 186.125 53.8627 180.969 47.5268 180.969C41.1909 180.969 36.0547 186.125 36.0547 192.484C36.0547 198.844 41.1909 204 47.5268 204Z' fill='%231C1C1C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10154_98'%3E%3Crect width='59' height='204' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
    display: block;
    position: absolute;
    bottom: -179px;
    left: -270px;
}

.img-box img {
    max-width: 513px;
    margin: 14px 18px;
    position: relative;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-box {
    grid-area: text-box;
    max-width: 440px;
    min-height: 312px;
    margin-top: -5px;

}

.text-box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-color);
    letter-spacing: .5px;
}

#more {
    display: none;
}

.text-box p:last-child {
    margin-bottom: 11.2%;
}

.read-next {
    margin-left: 15%;
    bottom: -4%;
    position: relative;
}

.read-next button {
    color: var(--btn-read);
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.read-next button::before {
    content: "";
    width: 32px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--btn-read);
    position: absolute;
    top: 50%;
    left: -18%;
}

.second-img {
    grid-area: second-img;
    max-width: 471px;
    height: 236px;
    margin-bottom: 81px;
}

/*our works*/
.our-work {
    width: 100%;
    max-width: 1920px;
    background: var(--main-color);
    margin: 0 auto;
    position: relative;
}

.our-work::after {
    content: url("data:image/svg+xml,%3Csvg width='133' height='225' viewBox='0 0 133 225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9999 0C-36.2159 0 -85 50.3506 -85 112.5C-85 174.649 -36.2159 225 23.9999 225C84.2157 225 133 174.649 133 112.5C133.133 50.3506 84.2157 0 23.9999 0ZM23.9999 181.372C-12.8208 181.372 -42.7293 150.503 -42.7293 112.5C-42.7293 74.4969 -12.8208 43.628 23.9999 43.628C60.8206 43.628 90.729 74.4969 90.729 112.5C90.729 150.64 60.9535 181.372 23.9999 181.372Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 7px;
    bottom: 2px;
}

.our-work .slider-container {
    width: 100%;
    max-width: 1359px;
    padding: 65px 12px 134px;
    margin: 0 auto;
}

.title span,
.our-works-title span {
    color: var(--title-span);
}

.our-works-title .our-works-slider::after {
    content: url("data:image/svg+xml,%3Csvg width='89' height='132' viewBox='0 0 89 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.9999 0C-10.3561 0 -39 29.539 -39 66C-39 102.461 -10.3561 132 24.9999 132C60.356 132 88.9998 102.461 88.9998 66C89.0779 29.539 60.356 0 24.9999 0ZM24.9999 106.405C3.38044 106.405 -14.1805 88.2951 -14.1805 66C-14.1805 43.7049 3.38044 25.5951 24.9999 25.5951C46.6194 25.5951 64.1804 43.7049 64.1804 66C64.1804 88.3756 46.6975 106.405 24.9999 106.405Z' fill='%231C1C1C'/%3E%3C/svg%3E ");
    position: absolute;
    display: block;
    margin-top: 165px;
    margin-left: -283px;
}

.our-works-slider__item {
    padding: 0 36px;
    position: relative;

}

.our-works-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
    position: absolute;
    line-height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.our-works-subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-works-slider__tools {
    display: flex;
    justify-content: flex-end;
    margin-top: 99px;
    margin-left: 80px;
}

.our-works-slider__navigation {
    display: flex;
    justify-content: flex-end;
}

.slick-arrow {
    font-size: 0;
    width: 71px;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

.slick-arrow:hover {
    background-color: var(--backgraund);
    border: 1px solid var(--backgraund);
}

.slick-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='13' viewBox='0 0 27 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.25' y='7.7666' width='3.1067' height='21.747' transform='rotate(-90 5.25 7.7666)' fill='white'/%3E%3Cpath d='M0.59375 6.21335L6.41883 0.832378L6.41883 11.5943L0.59375 6.21335Z' fill='white'/%3E%3C/svg%3E%0A");
}

.slick-prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='13' viewBox='0 0 27 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.65625' y='7.7666' width='3.1067' height='21.747' transform='rotate(-90 4.65625 7.7666)' fill='%231E1E1E'/%3E%3Cpath d='M0 6.21335L5.82508 0.832378L5.82508 11.5943L0 6.21335Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
}

.slick-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='13' viewBox='0 0 27 13' fill='none'%3E%3Crect width='3.1067' height='21.747' transform='matrix(0 -1 -1 0 21.75 7.7666)' fill='white'/%3E%3Cpath d='M26.4062 6.21335L20.5812 0.832378V11.5943L26.4062 6.21335Z' fill='white'/%3E%3C/svg%3E");
}

.slick-next:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='13' viewBox='0 0 27 13' fill='none'%3E%3Crect width='3.1067' height='21.747' transform='matrix(0 -1 -1 0 21.75 7.7666)' fill='%231E1E1E'/%3E%3Cpath d='M26.4062 6.21335L20.5812 0.832378V11.5943L26.4062 6.21335Z' fill='%231E1E1E'/%3E%3C/svg%3E");
}

.our-works-slider__counter {
    color: var(--text-color);
    font-size: 32px;
    text-align: right;
    margin-right: 32px;
}

.our-works-slider__counter::first-letter {
    color: var(--backgraund);
}

element.style {
    width: 470px;
}

.our-works-slider__item.slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1.2);

}

.slick-track {
    min-height: 594px;
    display: flex;
    align-items: center;
}

.our-works-slider__item {
    transition: .4s;
}

/*how we work*/

.examples {
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    margin-top: 110px;
}

.example {
    width: 277px;
    background: url(../img/icon-3.png) no-repeat center top;
    padding-top: 214px;

}

.example-vector-1 {
    margin: 24px -9px;
    background-image: url("data:image/svg+xml,%3Csvg width='209' height='222' viewBox='0 0 209 222' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2.03156C10 1.03156 37.8 23.4316 77 121.032C116.2 218.632 166.667 203.698 187 184.031' stroke='%23E6A859' stroke-width='3'/%3E%3Cpath d='M129.5 203C133.674 206.832 145.5 214 163 206' stroke='%23E6A859' stroke-width='2'/%3E%3Cpath d='M184.5 173C183.667 172.667 181.9 172 181.5 172L191.5 170L208.5 166L204.5 177L202 186.5L201.5 192L200 187L199 185L197.5 182.5L195.5 180L194 178.5L191.5 176.5L188 174.5L184.5 173Z' fill='%23E6A859'/%3E%3Cpath d='M39 11C49 22.3333 70.2 49.8 75 69' stroke='%23E6A859' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.example-delivery {
    background: url(../img/icon-2.png) no-repeat center top;
    margin-top: -20px;
}

.example-delivery .example-title {
    margin: 20px 13px 33px;

}

.example-vector-2 {
    margin: 45px -4px;
    background-image: url("data:image/svg+xml,%3Csvg width='241' height='179' viewBox='0 0 241 179' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M215.846 50.9836C215.049 50.5702 213.356 49.7334 212.958 49.6942L223.106 48.6847L240.417 46.3713L235.357 56.926L231.937 66.135L230.9 71.5594L229.898 66.4364L229.099 64.348L227.851 61.7129L226.106 59.0288L224.761 57.3889L222.469 55.1533L219.182 52.8197L215.846 50.9836Z' fill='%23E6A859'/%3E%3Cpath d='M2 171.723C14.6667 184.39 44.8 184.123 64 81.7232C88 -46.2768 150 9.72318 176 45.7232C196.8 74.5232 211.333 69.7232 216 63.7231' stroke='%23E6A859' stroke-width='3'/%3E%3Cpath d='M92.104 47.9327C97.6426 33.5494 114.771 10.529 138.977 33.514' stroke='%23E6A859' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.example-recive {
    background: url(../img/icon-1.png) no-repeat center top;
    background-size: 191px 180px;
}

.example-recive .example-title {
    width: 272px;
    margin-left: 15px;
}

.example-title {
    width: 262px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: var(--text-color);
    letter-spacing: 1px;
    margin-bottom: 33px;
}

.example-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--text-color-second);
    letter-spacing: .4px;
    margin-bottom: 28px;

}

/*reviews*/
.row {
    display: flex;
    justify-content: flex-start;
    margin-left: 247px;
    padding-bottom: 207px;
}


.col-6 {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' viewBox='0 0 26 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3V14C12 15.0833 11.7865 16.1198 11.3594 17.1094C10.9427 18.0885 10.375 18.9375 9.65625 19.6562C8.9375 20.375 8.08333 20.9479 7.09375 21.375C6.11458 21.7917 5.08333 22 4 22H3C2.72917 22 2.49479 21.901 2.29688 21.7031C2.09896 21.5052 2 21.2708 2 21V19C2 18.7292 2.09896 18.4948 2.29688 18.2969C2.49479 18.099 2.72917 18 3 18H4C5.10417 18 6.04688 17.6094 6.82813 16.8281C7.60938 16.0469 8 15.1042 8 14V13.5C8 13.0833 7.85417 12.7292 7.5625 12.4375C7.27083 12.1458 6.91667 12 6.5 12H3C2.16667 12 1.45833 11.7083 0.875 11.125C0.291667 10.5417 0 9.83333 0 9V3C0 2.16667 0.291667 1.45833 0.875 0.874999C1.45833 0.291665 2.16667 -1.19209e-06 3 -1.19209e-06H9C9.83333 -1.19209e-06 10.5417 0.291665 11.125 0.874999C11.7083 1.45833 12 2.16667 12 3ZM26 3V14C26 15.0833 25.7865 16.1198 25.3594 17.1094C24.9427 18.0885 24.375 18.9375 23.6563 19.6562C22.9375 20.375 22.0833 20.9479 21.0938 21.375C20.1146 21.7917 19.0833 22 18 22H17C16.7292 22 16.4948 21.901 16.2969 21.7031C16.099 21.5052 16 21.2708 16 21V19C16 18.7292 16.099 18.4948 16.2969 18.2969C16.4948 18.099 16.7292 18 17 18H18C19.1042 18 20.0469 17.6094 20.8281 16.8281C21.6094 16.0469 22 15.1042 22 14V13.5C22 13.0833 21.8542 12.7292 21.5625 12.4375C21.2708 12.1458 20.9167 12 20.5 12H17C16.1667 12 15.4583 11.7083 14.875 11.125C14.2917 10.5417 14 9.83333 14 9V3C14 2.16667 14.2917 1.45833 14.875 0.874999C15.4583 0.291665 16.1667 -1.19209e-06 17 -1.19209e-06H23C23.8333 -1.19209e-06 24.5417 0.291665 25.125 0.874999C25.7083 1.45833 26 2.16667 26 3Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 625px 75px;
    width: 43% !important;
    height: 300px !important;
}

.reviews-content {
    max-width: 667px;
    min-height: 200px;
    box-shadow: 7px 15px 7px -7px rgb(15, 15, 15);
}

.reviews-content img {

    float: left;
    margin: -4px 16px;
    border-radius: 50%;
}


.reviews-content-title {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.4;
    color: var(--title-span);
    margin: 74px 0 8px 158px;
    letter-spacing: .5px;
}

.reviews-content-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 15px;
    margin-left: 158px;
    letter-spacing: .5px;
}

.reviews-content-post {
    max-width: 442px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 31px;
    margin-left: 159px;
    letter-spacing: .4px;
}

.social {
    width: 110px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 159px;
    background-image: url("../img/social-1.png")
}

.social a {
    position: relative;
    display: block;
    transition: .3s ease-in-out;
    width: 26px;
    height: 26px;
    margin-left: -4px;
    margin-right: 21px;
    border-radius: 50%;
}

.social a:hover {
    background-color: #d1eefa;
    opacity: 0.5;
}

.social-forth {
    width: 69px;
    margin-left: 162px;
    background-image: url("../img/social-4.png")
}

.social-second {
    width: 111px;
    margin-left: 164px;
    background-image: url("../img/social-3.svg")
}

.social-third {
    width: 119px;
    margin-left: 158px;
    background-image: url("../img/social-3.svg")
}

/*contact us*/
.contact-us {
    text-align: center;
}

.form {
    box-sizing: border-box;
    align-items: center;
    margin-top: 58px;
    position: relative;
}

.form::before {
    content: url("data:image/svg+xml,%3Csvg width='153' height='198' viewBox='0 0 153 198' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.9999 0C-10.3561 0 -39 29.539 -39 66C-39 102.461 -10.3561 132 24.9999 132C60.356 132 88.9998 102.461 88.9998 66C89.0779 29.539 60.356 0 24.9999 0ZM24.9999 106.405C3.38044 106.405 -14.1805 88.2951 -14.1805 66C-14.1805 43.7049 3.38044 25.5951 24.9999 25.5951C46.6194 25.5951 64.1804 43.7049 64.1804 66C64.1804 88.3756 46.6975 106.405 24.9999 106.405Z' fill='%231C1C1C'/%3E%3Cpath d='M121 132C103.322 132 89 146.77 89 165C89 183.23 103.322 198 121 198C138.678 198 153 183.23 153 165C153.039 146.77 138.678 132 121 132ZM121 185.202C110.19 185.202 101.41 176.148 101.41 165C101.41 153.852 110.19 144.798 121 144.798C131.81 144.798 140.59 153.852 140.59 165C140.59 176.188 131.849 185.202 121 185.202Z' fill='%231C1C1C'/%3E%3C/svg%3E ");
    display: block;
    position: absolute;
    margin-top: -358px;
    left: -13px;
}

.form::after {
    content: url("data:image/svg+xml,%3Csvg width='204' height='59' viewBox='0 0 204 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10154_111)'%3E%3Cpath d='M11.5157 59C5.15726 59 0 53.8623 0 47.5279C0 41.1935 5.15726 36.0558 11.5157 36.0558C17.8742 36.0558 23.0315 41.1895 23.0315 47.5279C23.0315 53.8663 17.8782 59 11.5157 59Z' fill='%231C1C1C'/%3E%3Cpath d='M23.0315 11.4722C23.0315 5.13635 17.8757 0.000106812 11.5157 0.000106812C5.15577 0.000106812 0 5.13635 0 11.4722C0 17.8081 5.15577 22.9443 11.5157 22.9443C17.8757 22.9443 23.0315 17.8081 23.0315 11.4722Z' fill='%231C1C1C'/%3E%3Cpath d='M47.7111 59C41.3526 59 36.1953 53.8623 36.1953 47.5279C36.1953 41.1935 41.3526 36.0558 47.7111 36.0558C54.0695 36.0558 59.2268 41.1935 59.2268 47.5279C59.2268 53.8623 54.0735 59 47.7111 59Z' fill='%231C1C1C'/%3E%3Cpath d='M59.2268 11.4722C59.2268 5.13635 54.071 0.000106812 47.7111 0.000106812C41.3511 0.000106812 36.1953 5.13635 36.1953 11.4722C36.1953 17.8081 41.3511 22.9443 47.7111 22.9443C54.071 22.9443 59.2268 17.8081 59.2268 11.4722Z' fill='%231C1C1C'/%3E%3Cpath d='M83.9064 59C77.5479 59 72.3906 53.8623 72.3906 47.5279C72.3906 41.1935 77.5479 36.0558 83.9064 36.0558C90.2648 36.0558 95.4221 41.1935 95.4221 47.5279C95.4221 53.8623 90.2648 59 83.9064 59Z' fill='%231C1C1C'/%3E%3Cpath d='M95.4221 11.4722C95.4221 5.13635 90.2663 0.000106812 83.9064 0.000106812C77.5464 0.000106812 72.3906 5.13635 72.3906 11.4722C72.3906 17.8081 77.5464 22.9443 83.9064 22.9443C90.2663 22.9443 95.4221 17.8081 95.4221 11.4722Z' fill='%231C1C1C'/%3E%3Cpath d='M120.102 59C113.743 59 108.586 53.8623 108.586 47.5279C108.586 41.1935 113.743 36.0558 120.102 36.0558C126.46 36.0558 131.617 41.1935 131.617 47.5279C131.617 53.8623 126.46 59 120.102 59Z' fill='%231C1C1C'/%3E%3Cpath d='M131.617 11.4722C131.617 5.13635 126.462 0.000106812 120.102 0.000106812C113.742 0.000106812 108.586 5.13635 108.586 11.4722C108.586 17.8081 113.742 22.9443 120.102 22.9443C126.462 22.9443 131.617 17.8081 131.617 11.4722Z' fill='%231C1C1C'/%3E%3Cpath d='M156.289 59C149.931 59 144.773 53.8623 144.773 47.5279C144.773 41.1935 149.931 36.0558 156.289 36.0558C162.648 36.0558 167.805 41.1935 167.805 47.5279C167.805 53.8623 162.648 59 156.289 59Z' fill='%231C1C1C'/%3E%3Cpath d='M167.805 11.4722C167.805 5.13635 162.649 0.000106812 156.289 0.000106812C149.929 0.000106812 144.773 5.13635 144.773 11.4722C144.773 17.8081 149.929 22.9443 156.289 22.9443C162.649 22.9443 167.805 17.8081 167.805 11.4722Z' fill='%231C1C1C'/%3E%3Cpath d='M192.484 59C186.126 59 180.969 53.8623 180.969 47.5279C180.969 41.1935 186.126 36.0558 192.484 36.0558C198.843 36.0558 204 41.1935 204 47.5279C204 53.8623 198.847 59 192.484 59Z' fill='%231C1C1C'/%3E%3Cpath d='M204 11.4722C204 5.13635 198.844 0.000106812 192.484 0.000106812C186.125 0.000106812 180.969 5.13635 180.969 11.4722C180.969 17.8081 186.125 22.9443 192.484 22.9443C198.844 22.9443 204 17.8081 204 11.4722Z' fill='%231C1C1C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10154_111'%3E%3Crect width='59' height='204' fill='white' transform='translate(0 59) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
    right: 42px;
    top: -1546px;
    position: absolute;
}

.input {
    width: 581px;
    height: 66px;
    border: 1px solid var(--text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 4;
    color: var(--text-color);
    padding-left: 33px;
    margin-bottom: 67px;
    background: transparent;
    margin-left: 34px;
}

textarea {
    width: 1202px;
    height: 264px;
    font-weight: 400;
    font-size: 18px;
    line-height: 4;
    color: var(--text-color);
    background: transparent;
    border: 1px solid var(--text-color);
    padding-left: 32px;
    margin: 0 0 105px 38px;
}

.btn-contact {
    margin-bottom: 173px;
    margin-left: -21px;
}

/*our contacts*/
.first-part:before {
    content: '';
    background-color: var(--text-color);
    height: 2px;
    display: block;
    width: auto;

}

.first-part:after {
    content: '';
    background-color: var(--text-color);
    height: 2px;
    display: block;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr 200px 387px;
    grid-template-rows: 0.9fr;
    gap: 0px 91px;
    grid-auto-flow: row;
    grid-template-areas:
        "img-map detail-addres detail-contacts detail-social";
    padding-top: 54px;
    margin-left: 259px;
}

.img-map {
    grid-area: img-map;
}

.detail-addres {
    grid-area: detail-addres;
}

.detail-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 43px;
    margin-bottom: 31px;
}

.detail-contacts {
    grid-area: detail-contacts;
}

.detail-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    padding-bottom: 67px;
}

.social-icons {
    width: 115px;
    display: flex;
    justify-content: center;
    list-style: none;
    background-image: url("../img/icon.png")
}

.social-icons a {
    position: relative;
    display: block;
    transition: .3s ease-in-out;
    width: 26px;
    height: 26px;
    margin-left: -7px;
    margin-right: 26px;
}

.social-icons a:hover {
    background-color: #d1eefa;
    opacity: 0.5;
}


.flow-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-color);
    text-align: center;
    padding-top: 60px;
    margin-bottom: 32px;
}

#demo-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 638px;
    padding-right: 57px;
    margin-left: 642px;
    padding-bottom: 49px;
}

#demo-nav a {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

#demo-nav a:hover {
    color: var(--text-color);
}

.scrollup {
    min-height: 46px;
    min-width: 58px;
    bottom: 81px;
    right: 314px;
    position: fixed;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='58' height='46' viewBox='0 0 58 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7489 40H9.30894V34.672H3.45294V40H2.01294V28.576H3.45294V33.408H9.30894V28.576H10.7489V40ZM16.9283 31.28C17.9736 31.28 18.747 31.5093 19.2483 31.968C19.7496 32.4267 20.0003 33.1573 20.0003 34.16V40H18.9763L18.7043 38.784H18.6403C18.267 39.2533 17.8723 39.6 17.4563 39.824C17.051 40.048 16.4856 40.16 15.7603 40.16C14.9816 40.16 14.3363 39.9573 13.8243 39.552C13.3123 39.136 13.0563 38.4907 13.0563 37.616C13.0563 36.7627 13.3923 36.1067 14.0643 35.648C14.7363 35.1787 15.771 34.9227 17.1683 34.88L18.6243 34.832V34.32C18.6243 33.6053 18.4696 33.1093 18.1603 32.832C17.851 32.5547 17.4136 32.416 16.8483 32.416C16.4003 32.416 15.9736 32.4853 15.5683 32.624C15.163 32.752 14.7843 32.9013 14.4323 33.072L14.0003 32.016C14.3736 31.8133 14.8163 31.6427 15.3283 31.504C15.8403 31.3547 16.3736 31.28 16.9283 31.28ZM17.3443 35.856C16.2776 35.8987 15.5363 36.0693 15.1203 36.368C14.715 36.6667 14.5123 37.088 14.5123 37.632C14.5123 38.112 14.6563 38.464 14.9443 38.688C15.243 38.912 15.6216 39.024 16.0803 39.024C16.8056 39.024 17.4083 38.8267 17.8883 38.432C18.3683 38.0267 18.6083 37.408 18.6083 36.576V35.808L17.3443 35.856ZM29.5451 33.584C29.5451 34.1173 29.3851 34.5333 29.0651 34.832C28.7451 35.1307 28.3344 35.3333 27.8331 35.44V35.504C28.3664 35.5787 28.8304 35.7707 29.2251 36.08C29.6197 36.3787 29.8171 36.848 29.8171 37.488C29.8171 38.2133 29.5451 38.816 29.0011 39.296C28.4677 39.7653 27.5824 40 26.3451 40H22.6491V31.424H26.3291C26.9371 31.424 27.4811 31.4933 27.9611 31.632C28.4517 31.76 28.8357 31.984 29.1131 32.304C29.4011 32.6133 29.5451 33.04 29.5451 33.584ZM28.1211 33.76C28.1211 33.3547 27.9717 33.0613 27.6731 32.88C27.3851 32.688 26.9104 32.592 26.2491 32.592H24.0571V34.944H25.9931C27.4117 34.944 28.1211 34.5493 28.1211 33.76ZM28.3611 37.488C28.3611 36.9973 28.1744 36.6453 27.8011 36.432C27.4277 36.2187 26.8784 36.112 26.1531 36.112H24.0571V38.864H26.1851C26.8891 38.864 27.4277 38.7627 27.8011 38.56C28.1744 38.3467 28.3611 37.9893 28.3611 37.488ZM35.1798 31.264C35.9158 31.264 36.5451 31.424 37.0678 31.744C37.6011 32.064 38.0065 32.5173 38.2838 33.104C38.5718 33.68 38.7158 34.3573 38.7158 35.136V35.984H32.8438C32.8651 36.9547 33.1105 37.696 33.5798 38.208C34.0598 38.7093 34.7265 38.96 35.5798 38.96C36.1238 38.96 36.6038 38.912 37.0198 38.816C37.4465 38.7093 37.8838 38.56 38.3318 38.368V39.6C37.8945 39.792 37.4625 39.9307 37.0358 40.016C36.6091 40.112 36.1025 40.16 35.5158 40.16C34.7051 40.16 33.9851 39.9947 33.3558 39.664C32.7371 39.3333 32.2518 38.8427 31.8998 38.192C31.5585 37.5307 31.3878 36.7253 31.3878 35.776C31.3878 34.8373 31.5425 34.032 31.8518 33.36C32.1718 32.688 32.6145 32.1707 33.1798 31.808C33.7558 31.4453 34.4225 31.264 35.1798 31.264ZM35.1638 32.416C34.4918 32.416 33.9585 32.6347 33.5638 33.072C33.1798 33.4987 32.9505 34.096 32.8758 34.864H37.2438C37.2331 34.1387 37.0625 33.552 36.7318 33.104C36.4011 32.6453 35.8785 32.416 35.1638 32.416ZM44.9791 31.264C46.0351 31.264 46.8831 31.632 47.5231 32.368C48.1737 33.104 48.4991 34.2133 48.4991 35.696C48.4991 37.1573 48.1737 38.2667 47.5231 39.024C46.8831 39.7813 46.0297 40.16 44.9631 40.16C44.3017 40.16 43.7524 40.0373 43.3151 39.792C42.8884 39.536 42.5524 39.2427 42.3071 38.912H42.2111C42.2324 39.0933 42.2537 39.3227 42.2751 39.6C42.2964 39.8773 42.3071 40.1173 42.3071 40.32V43.84H40.8991V31.424H42.0511L42.2431 32.592H42.3071C42.5631 32.2187 42.8991 31.904 43.3151 31.648C43.7311 31.392 44.2857 31.264 44.9791 31.264ZM44.7231 32.448C43.8484 32.448 43.2297 32.6933 42.8671 33.184C42.5151 33.6747 42.3284 34.4213 42.3071 35.424V35.696C42.3071 36.752 42.4777 37.568 42.8191 38.144C43.1711 38.7093 43.8164 38.992 44.7551 38.992C45.2777 38.992 45.7044 38.848 46.0351 38.56C46.3764 38.272 46.6271 37.8827 46.7871 37.392C46.9577 36.8907 47.0431 36.32 47.0431 35.68C47.0431 34.6987 46.8511 33.9147 46.4671 33.328C46.0937 32.7413 45.5124 32.448 44.7231 32.448ZM52.4623 35.616L49.5023 31.424H51.1023L53.3103 34.656L55.5023 31.424H57.0863L54.1263 35.616L57.2463 40H55.6463L53.3103 36.576L50.9423 40H49.3583L52.4623 35.616Z' fill='white'/%3E%3Cpath d='M28.9777 1.16518C29.067 1.07589 29.1696 1.03125 29.2857 1.03125C29.4018 1.03125 29.5045 1.07589 29.5938 1.16518L35.8348 7.40625C35.9241 7.49554 35.9687 7.59821 35.9687 7.71429C35.9687 7.83036 35.9241 7.93304 35.8348 8.02232L35.1652 8.69196C35.0759 8.78125 34.9732 8.82589 34.8571 8.82589C34.7411 8.82589 34.6384 8.78125 34.5491 8.69196L29.2857 3.42857L24.0223 8.69196C23.933 8.78125 23.8304 8.82589 23.7143 8.82589C23.5982 8.82589 23.4955 8.78125 23.4062 8.69196L22.7366 8.02232C22.6473 7.93304 22.6027 7.83036 22.6027 7.71429C22.6027 7.59821 22.6473 7.49554 22.7366 7.40625L28.9777 1.16518Z' fill='white'/%3E%3C/svg%3E ");
}

.scrollup:hover {
    color: var(--text-color);
}

@media screen and (max-width:1585px) {
    .navbar {
        width: 1145px;
    }

    .about-us-item {
        grid-template-columns: 1fr 1fr;
        gap: 85px 301px;
        justify-content: end;
    }

    .navbar>.container-fluid {
        width: 946px;
        margin: 20px 10px 20px;
    }

    .navbar-light .navbar-brand {
        padding: 0 23px 0 75px;
    }

    .img-box {
        margin-left: 144px;
    }

    .img-box::after {
        margin-left: -138px;
    }

    .row {
        margin-left: 15px;
    }

    .details {
        grid-template-columns: 1fr 1fr 159px 149px;
        gap: 0px 77px;
        margin-left: 96px;
        justify-items: center;
    }
}

@media screen and (max-width:1305px) {
    .about-us-title::before {
        content: url("data:image/svg+xml,%3Csvg width='117' height='117' viewBox='0 0 117 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10154_539' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='117' height='117'%3E%3Ccircle cx='58.5' cy='58.5' r='58.5' fill='%23151515'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10154_539)'%3E%3Crect width='117' height='59' fill='%23151515'/%3E%3C/g%3E%3Cpath d='M58.0279 41.9286C57.9163 42.0402 57.7879 42.096 57.6429 42.096C57.4978 42.096 57.3694 42.0402 57.2578 41.9286L49.4565 34.1272C49.3449 34.0156 49.2891 33.8873 49.2891 33.7422C49.2891 33.5971 49.3449 33.4687 49.4565 33.3571L50.2935 32.5201C50.4051 32.4085 50.5335 32.3527 50.6786 32.3527C50.8237 32.3527 50.952 32.4085 51.0636 32.5201L57.6429 39.0993L64.2221 32.5201C64.3337 32.4085 64.4621 32.3527 64.6071 32.3527C64.7522 32.3527 64.8806 32.4085 64.9922 32.5201L65.8292 33.3571C65.9408 33.4687 65.9967 33.5971 65.9967 33.7422C65.9967 33.8873 65.9408 34.0156 65.8292 34.1272L58.0279 41.9286Z' fill='white'/%3E%3C/svg%3E%0A");
        display: block;
        position: sticky;
        margin-top: -119px;
        margin-left: 6px;
        text-align: center;
    }

    .row {
        margin-left: -6px;
    }

    .col-6 {
        width: 50% !important;
        height: 303px !important;
    }

    .input {
        width: 808px;
        height: 87px;
        margin-bottom: 38px;
        margin-left: 0;
    }

    textarea {
        width: 810px;
        height: 89px;
        margin-left: 4px;
    }

    .details {
        grid-template-columns: 1fr 3fr 2fr 2fr;
        gap: 0px 29px;
    }

}

@media screen and (max-width:1200px) {

    .navbar>.container-fluid {
        display: none;
    }

    .navbar {
        width: 946px;
        padding: 40px 360px;
    }

    .baner-content {
        padding: 250px 181px;
    }

    .section-title {
        margin-bottom: 206px;
    }

    .about-us-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.8fr 1fr;
        gap: 9px 109px;
        grid-auto-flow: row;
        grid-template-areas:
            "img-box text-box"
            "second-img text-box"
            ". .";
    }

    .img-box img {
        max-width: 426px;
    }

    .img-box::after {
        margin-left: 814px;
        margin-top: 10px;
    }

    .img-box {
        grid-area: img-box;
        margin-left: 35px;
    }

    .second-img {
        grid-area: second-img;
        margin-left: 35px;
    }

    .text-box {
        grid-area: text-box;
        width: 326px;
    }

    .button-title {
        margin-right: 162px;
    }


    .examples {
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
        padding-bottom: 153px;
    }

    .example {
        padding-top: 200px;
    }

    .how-we-work-title {
        margin-bottom: 93px
    }

    .example-vector-1 {
        display: none;
    }

    .example-vector-2 {
        display: none;
    }

    .example-subtitle {
        margin: 30px 0 30px;
        font-size: 18px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 208px;
    }

    .col-6 {
        width: 100% !important;
        background-position: 622px 75px;
    }

    .reviews-content-title {
        font-size: 18px;
    }

    .reviews-content {
        width: 733px;
    }

    .reviews-content-post {
        font-size: 16px;
        margin-bottom: 13px;
    }

    .reviews-content img {
        margin: -4px 5px;
    }

    .social {
        margin-left: 16px;
    }

    .contact-us-title {
        margin-bottom: 132px;
    }

    form::after {
        top: -2095px;
    }

    .input {
        width: 808px;
        height: 87px;
        margin-bottom: 38px;
        margin-left: 0;
    }

    textarea {
        width: 810px;
        height: 89px;
        margin-left: 4px;
    }

    .detail-social {
        display: none;
    }

    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.2fr 2fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "detail-addres detail-contacts"
            "img-map img-map";
    }

    .detail-addres {
        grid-area: detail-addres;
    }

    .detail-contacts {
        grid-area: detail-contacts;
    }

    .detail-subtitle {
        font-size: 18px;
        line-height: 2;
        opacity: 0.8;
        padding-bottom: 35px;
    }

    .img-map {
        grid-area: img-map;
    }

    iframe {
        width: 800px;
        height: 400px;
        margin-left: -28px;
    }

    #demo-nav {
        margin-left: 242px;

    }

}

@media screen and (max-width:768px) {

    /* header */
    .logo {
        position: relative;
    }

    .logo::before {
        content: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16.6667' height='3.33333' rx='1.66667' fill='white'/%3E%3Crect y='20' width='20' height='3.33333' rx='1.66667' fill='white'/%3E%3Crect y='10' width='13.3333' height='3.33333' rx='1.66667' fill='white'/%3E%3C/svg%3E ");
        position: absolute;
        left: -99px;
        top: 26px;
    }

    .navbar {
        min-height: 100px;
        max-width: 357px;
        padding: 3px 97px
    }

    /* baner */
    .baner-container {
        background: url(../img/mobile/baner-mobile.jpg) center no-repeat;
        min-height: 796px;
    }

    .container {
        max-width: 414px;
    }

    .baner-content {
        padding: 221px 7px;
        position: relative;
    }

    .baner-content::before {
        content: url("data:image/svg+xml,%3Csvg width='117' height='117' viewBox='0 0 117 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10154_539' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='117' height='117'%3E%3Ccircle cx='58.5' cy='58.5' r='58.5' fill='%23151515'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10154_539)'%3E%3Crect width='117' height='59' fill='%23151515'/%3E%3C/g%3E%3Cpath d='M58.0279 41.9286C57.9163 42.0402 57.7879 42.096 57.6429 42.096C57.4978 42.096 57.3694 42.0402 57.2578 41.9286L49.4565 34.1272C49.3449 34.0156 49.2891 33.8873 49.2891 33.7422C49.2891 33.5971 49.3449 33.4687 49.4565 33.3571L50.2935 32.5201C50.4051 32.4085 50.5335 32.3527 50.6786 32.3527C50.8237 32.3527 50.952 32.4085 51.0636 32.5201L57.6429 39.0993L64.2221 32.5201C64.3337 32.4085 64.4621 32.3527 64.6071 32.3527C64.7522 32.3527 64.8806 32.4085 64.9922 32.5201L65.8292 33.3571C65.9408 33.4687 65.9967 33.5971 65.9967 33.7422C65.9967 33.8873 65.9408 34.0156 65.8292 34.1272L58.0279 41.9286Z' fill='white'/%3E%3C/svg%3E ");
        position: absolute;
        left: 147px;
        top: 740px;
    }

    #demo-nav-menu {
        margin-left: -33px;
        margin-bottom: 50px;
    }

    .demo-nav-menu-item {
        padding: 0 23px
    }

    .demo-nav-menu-item a {
        font-size: 10px;
    }

    .section-title {
        font-size: 28px;
        line-height: 1.6;
        margin-bottom: 82px;
    }

    .btn-primary {
        min-width: 225px;
        height: 51px;
        font-size: 14px;
        padding: 14px 55px;
        border-radius: 30px;
    }

    .btn-primary:hover {
        font-size: 16px;
        padding: 14px 45px;
    }

    .title {
        font-size: 24px;
        padding: 24px 0 25px;
    }

    .title::before {
        width: 16px;
        height: 1px;
        bottom: 8px;
        left: calc(50% - 18px/2 + 0.5px);
    }

    .title::after {
        width: 43px;
        height: 1px;
        left: calc(50% - 43px/2 + 0.5px);
        bottom: 18px;
    }

    /* about-us */
    .about-us-item {
        grid-template-rows: 1fr 92px;
        gap: 1px 17px;
    }

    .img-box {
        width: 125px;
        height: 167px;
        margin-left: 1px;
        margin-top: 8px;
    }

    .img-box::after {
        content: url("data:image/svg+xml,%3Csvg width='26' height='90' viewBox='0 0 26 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10154_511)'%3E%3Cpath d='M0 5.08047C0 2.27526 2.26408 0 5.05551 0C7.84693 0 10.111 2.27526 10.111 5.08047C10.111 7.88569 7.84869 10.1609 5.05551 10.1609C2.26232 10.1609 0 7.88745 0 5.08047Z' fill='%231C1C1C'/%3E%3Cpath d='M20.9461 10.1609C23.7382 10.1609 26.0016 7.88634 26.0016 5.08047C26.0016 2.27461 23.7382 0 20.9461 0C18.1541 0 15.8906 2.27461 15.8906 5.08047C15.8906 7.88634 18.1541 10.1609 20.9461 10.1609Z' fill='%231C1C1C'/%3E%3Cpath d='M0 21.048C0 18.2428 2.26408 15.9675 5.05551 15.9675C7.84693 15.9675 10.111 18.2428 10.111 21.048C10.111 23.8532 7.84693 26.1285 5.05551 26.1285C2.26408 26.1285 0 23.855 0 21.048Z' fill='%231C1C1C'/%3E%3Cpath d='M20.9461 26.1285C23.7382 26.1285 26.0016 23.8539 26.0016 21.048C26.0016 18.2421 23.7382 15.9675 20.9461 15.9675C18.1541 15.9675 15.8906 18.2421 15.8906 21.048C15.8906 23.8539 18.1541 26.1285 20.9461 26.1285Z' fill='%231C1C1C'/%3E%3Cpath d='M0 37.0172C0 34.212 2.26408 31.9368 5.05551 31.9368C7.84693 31.9368 10.111 34.212 10.111 37.0172C10.111 39.8225 7.84693 42.0977 5.05551 42.0977C2.26408 42.0977 0 39.8225 0 37.0172Z' fill='%231C1C1C'/%3E%3Cpath d='M20.9461 42.0977C23.7382 42.0977 26.0016 39.8231 26.0016 37.0172C26.0016 34.2114 23.7382 31.9368 20.9461 31.9368C18.1541 31.9368 15.8906 34.2114 15.8906 37.0172C15.8906 39.8231 18.1541 42.0977 20.9461 42.0977Z' fill='%231C1C1C'/%3E%3Cpath d='M0 52.9845C0 50.1793 2.26408 47.9041 5.05551 47.9041C7.84693 47.9041 10.111 50.1793 10.111 52.9845C10.111 55.7897 7.84693 58.065 5.05551 58.065C2.26408 58.065 0 55.7897 0 52.9845Z' fill='%231C1C1C'/%3E%3Cpath d='M20.9461 58.065C23.7382 58.065 26.0016 55.7904 26.0016 52.9845C26.0016 50.1787 23.7382 47.9041 20.9461 47.9041C18.1541 47.9041 15.8906 50.1787 15.8906 52.9845C15.8906 55.7904 18.1541 58.065 20.9461 58.065Z' fill='%231C1C1C'/%3E%3Cpath d='M0 68.9521C0 66.1468 2.26408 63.8716 5.05551 63.8716C7.84693 63.8716 10.111 66.1468 10.111 68.9521C10.111 71.7573 7.84693 74.0325 5.05551 74.0325C2.26408 74.0325 0 71.7573 0 68.9521Z' fill='%231C1C1C'/%3E%3Cpath d='M20.9461 74.0325C23.7382 74.0325 26.0016 71.7579 26.0016 68.9521C26.0016 66.1462 23.7382 63.8716 20.9461 63.8716C18.1541 63.8716 15.8906 66.1462 15.8906 68.9521C15.8906 71.7579 18.1541 74.0325 20.9461 74.0325Z' fill='%231C1C1C'/%3E%3Cpath d='M0 84.9196C0 82.1144 2.26408 79.8391 5.05551 79.8391C7.84693 79.8391 10.111 82.1144 10.111 84.9196C10.111 87.7248 7.84693 90.0001 5.05551 90.0001C2.26408 90.0001 0 87.7266 0 84.9196Z' fill='%231C1C1C'/%3E%3Cpath d='M20.9461 90.0001C23.7382 90.0001 26.0016 87.7255 26.0016 84.9196C26.0016 82.1137 23.7382 79.8391 20.9461 79.8391C18.1541 79.8391 15.8906 82.1137 15.8906 84.9196C15.8906 87.7255 18.1541 90.0001 20.9461 90.0001Z' fill='%231C1C1C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10154_511'%3E%3Crect width='26' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
        bottom: -147px;
        left: -452px;
    }

    .img-box img {
        max-width: 138px;
        max-height: 177px;
        margin: 5px 5px;
    }

    .text-box p {
        font-size: 8px;
        letter-spacing: .3;
        line-height: 1.4;
    }

    .text-box {
        width: 186px;
        margin-top: 11px;
    }

    .about-us::after {
        display: none;
    }

    .read-next {
        display: flex;
        align-items: center;
        font-size: 8px;
        margin-left: 15.8%;
        margin-top: -4%;
        bottom: 0;
    }

    .read-next button::before {
        width: 15px;
        height: 2px;
        top: 30%;
        left: -20%;
    }

    .second-img {
        width: 175px;
        margin-left: 1px;
    }

    /* our-work */
    .our-work {
        max-width: 414px;
        min-height: 369px;
    }

    .our-work .slider-container {
        max-width: 100vh !important;
        width: 100%;
        padding: 0 !important;
        max-height: 600px;
    }

    .slick-track {
        min-height: 222px;
    }

    .our-works-slider__item img {
        max-width: 187px;
        transform: none;
        margin: 0 auto;
    }

    .our-work::after {
        content: url("data:image/svg+xml,%3Csvg width='54' height='113' viewBox='0 0 54 113' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.500067 0.911621C-30.608 0.911621 -55 25.9071 -55 56.7598C-55 87.6125 -30.608 112.608 -0.500067 112.608C29.6078 112.608 53.9999 87.6125 53.9999 56.7598C54.0663 25.9071 29.6078 0.911621 -0.500067 0.911621ZM-0.500067 90.9497C-18.9104 90.9497 -33.8647 75.6255 -33.8647 56.7598C-33.8647 37.894 -18.9104 22.5698 -0.500067 22.5698C17.9103 22.5698 32.8645 37.894 32.8645 56.7598C32.8645 75.6936 17.9767 90.9497 -0.500067 90.9497Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A");
        left: 0px;
        bottom: 5px;
    }

    .our-work .title {
        font-size: 28px;
        padding: 40px 0 32px;
        margin-left: 6px;
    }

    .our-work .title::after {
        bottom: 28px;
    }

    .our-work .title::before {
        bottom: 15px;
    }

    .our-works-title {
        font-size: 12px;
    }

    .our-works-subtitle {
        font-size: 8px;
        top: 68%
    }

    .our-works-slider__tools {
        margin-top: 4px;
        padding-right: 12px;
        ;
    }

    .slick-arrow {
        width: 30px;
        height: 19px;

    }

    .our-works-slider__navigation {
        margin: auto 0;
    }

    .slick-prev,
    .slick-next {
        background-size: 50%;
        margin-left: 10.5px;
    }

    .slick-prev {
        margin-left: 0;
    }

    .our-works-slider__counter {
        font-size: 16px;
        margin-right: 35px;
    }

    /* how-we-work  */
    .how-we-work .title {
        padding: 47px 0 26px;
        margin-left: 16px;
    }

    .examples {
        margin-top: 14px;
        padding-bottom: 64px;
    }

    .example {
        background-size: 100px 105px;
        padding-top: 91px;
        margin-bottom: -8px;
    }

    .example-delivery {
        background-size: 148px 145px;
    }

    .example-title {
        font-size: 12px;
        margin: 22px 0 29px 17px;

    }

    .example-subtitle {
        margin: -24px 0 43px;
        font-size: 12px;
    }

    .example-delivery .example-title {
        margin: 39px 0 33px 15px;
    }

    .example-recive .example-title {
        margin: 17px 0 35px 10px;
        padding: 0 60px;

    }

    .example-recive {
        background-size: 103px 105px;
    }

    /* reviews */
    .row {
        margin-left: 86px;
        padding-bottom: 22px;
    }

    .reviews-content {
        width: 290px;
        min-height: 94px;
    }

    .col-6 {
        width: 100% !important;
        height: 161px !important;
        background-position: calc(504px - 234px) 31px;
    }

    .forth-card {
        display: none;
    }

    .reviews-content-title {
        font-size: 11px;
        margin: 23px 0 3px 3px;
    }

    .reviews-content-name {
        font-size: 10px;
        margin-left: 2px;
        margin-bottom: 4px;
    }

    .reviews-content-post {
        font-size: 8px;
        width: 271px;
        margin-left: 3px;
        margin-bottom: 13px;
    }

    .reviews-content img {
        height: 69px;
        margin: 5px -88px;
    }

    .social {
        width: 56px;
        margin-left: -84px;
        background-size: 55px 15px;
    }

    .social-second,
    .social-third {
        width: 57px;
        background-size: 78px 15px;
    }

    .social a {
        height: 15px;
    }

    /* contact-us */
    .form {
        margin-top: 65px;
    }

    .form::before {
        content: url("data:image/svg+xml,%3Csvg width='57' height='99' viewBox='0 0 57 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-7.00004 0C-24.6781 0 -39 14.7695 -39 33C-39 51.2305 -24.6781 66 -7.00004 66C10.678 66 24.9999 51.2305 24.9999 33C25.0389 14.7695 10.678 0 -7.00004 0ZM-7.00004 53.2024C-17.8098 53.2024 -26.5903 44.1476 -26.5903 33C-26.5903 21.8524 -17.8098 12.7976 -7.00004 12.7976C3.80971 12.7976 12.5902 21.8524 12.5902 33C12.5902 44.1878 3.84873 53.2024 -7.00004 53.2024Z' fill='%231C1C1C'/%3E%3Cpath d='M41 66C32.161 66 25 73.3848 25 82.5C25 91.6152 32.161 99 41 99C49.839 99 57 91.6152 57 82.5C57.0195 73.3848 49.839 66 41 66ZM41 92.6012C35.5951 92.6012 31.2049 88.0738 31.2049 82.5C31.2049 76.9262 35.5951 72.3988 41 72.3988C46.4049 72.3988 50.7951 76.9262 50.7951 82.5C50.7951 88.0939 46.4244 92.6012 41 92.6012Z' fill='%231C1C1C'/%3E%3C/svg%3E ");
        margin-top: -126px;
        left: -11px;
    }

    .form::after {
        content: url("data:image/svg+xml,%3Csvg width='90' height='26' viewBox='0 0 90 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10154_420)'%3E%3Cpath d='M5.08047 26C2.27526 26 0 23.7359 0 20.9445C0 18.1531 2.27526 15.889 5.08047 15.889C7.88569 15.889 10.1609 18.1513 10.1609 20.9445C10.1609 23.7377 7.88745 26 5.08047 26Z' fill='%231C1C1C'/%3E%3Cpath d='M10.1609 5.05533C10.1609 2.26325 7.88634 -0.00017643 5.08047 -0.00017643C2.27461 -0.00017643 0 2.26325 0 5.05533C0 7.84741 2.27461 10.1108 5.08047 10.1108C7.88634 10.1108 10.1609 7.84741 10.1609 5.05533Z' fill='%231C1C1C'/%3E%3Cpath d='M21.0492 26C18.244 26 15.9688 23.7359 15.9688 20.9445C15.9688 18.1531 18.244 15.889 21.0492 15.889C23.8544 15.889 26.1297 18.1531 26.1297 20.9445C26.1297 23.7359 23.8562 26 21.0492 26Z' fill='%231C1C1C'/%3E%3Cpath d='M26.1297 5.05533C26.1297 2.26325 23.8551 -0.00017643 21.0492 -0.00017643C18.2434 -0.00017643 15.9688 2.26325 15.9688 5.05533C15.9688 7.84741 18.2434 10.1108 21.0492 10.1108C23.8551 10.1108 26.1297 7.84741 26.1297 5.05533Z' fill='%231C1C1C'/%3E%3Cpath d='M37.018 26C34.2128 26 31.9375 23.7359 31.9375 20.9445C31.9375 18.1531 34.2128 15.889 37.018 15.889C39.8232 15.889 42.0984 18.1531 42.0984 20.9445C42.0984 23.7359 39.8232 26 37.018 26Z' fill='%231C1C1C'/%3E%3Cpath d='M42.0984 5.05533C42.0984 2.26325 39.8238 -0.00017643 37.018 -0.00017643C34.2121 -0.00017643 31.9375 2.26325 31.9375 5.05533C31.9375 7.84741 34.2121 10.1108 37.018 10.1108C39.8238 10.1108 42.0984 7.84741 42.0984 5.05533Z' fill='%231C1C1C'/%3E%3Cpath d='M52.9867 26C50.1815 26 47.9062 23.7359 47.9062 20.9445C47.9062 18.1531 50.1815 15.889 52.9867 15.889C55.7919 15.889 58.0672 18.1531 58.0672 20.9445C58.0672 23.7359 55.7919 26 52.9867 26Z' fill='%231C1C1C'/%3E%3Cpath d='M58.0672 5.05533C58.0672 2.26325 55.7926 -0.00017643 52.9867 -0.00017643C50.1809 -0.00017643 47.9062 2.26325 47.9062 5.05533C47.9062 7.84741 50.1809 10.1108 52.9867 10.1108C55.7926 10.1108 58.0672 7.84741 58.0672 5.05533Z' fill='%231C1C1C'/%3E%3Cpath d='M68.9555 26C66.1503 26 63.875 23.7359 63.875 20.9445C63.875 18.1531 66.1503 15.889 68.9555 15.889C71.7607 15.889 74.0359 18.1531 74.0359 20.9445C74.0359 23.7359 71.7607 26 68.9555 26Z' fill='%231C1C1C'/%3E%3Cpath d='M74.0359 5.05533C74.0359 2.26325 71.7613 -0.00017643 68.9555 -0.00017643C66.1496 -0.00017643 63.875 2.26325 63.875 5.05533C63.875 7.84741 66.1496 10.1108 68.9555 10.1108C71.7613 10.1108 74.0359 7.84741 74.0359 5.05533Z' fill='%231C1C1C'/%3E%3Cpath d='M84.9164 26C82.1112 26 79.8359 23.7359 79.8359 20.9445C79.8359 18.1531 82.1112 15.889 84.9164 15.889C87.7216 15.889 89.9969 18.1531 89.9969 20.9445C89.9969 23.7359 87.7234 26 84.9164 26Z' fill='%231C1C1C'/%3E%3Cpath d='M89.9969 5.05533C89.9969 2.26325 87.7223 -0.00017643 84.9164 -0.00017643C82.1105 -0.00017643 79.8359 2.26325 79.8359 5.05533C79.8359 7.84741 82.1105 10.1108 84.9164 10.1108C87.7223 10.1108 89.9969 7.84741 89.9969 5.05533Z' fill='%231C1C1C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10154_420'%3E%3Crect width='26' height='90' fill='white' transform='translate(0 26) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
        right: -3px;
        top: -787px;
    }

    .input {
        width: 389px;
        height: 46px;
        margin-bottom: 24px;
        padding-left: 23px;
    }

    textarea {
        width: 389px;
        height: 60px;
        margin-left: -2px;
        line-height: 3;
        padding-left: 25px;
        margin: 0 0 31px;
    }

    .btn-contact {
        margin-bottom: 44px;
        margin-left: 7px
    }

    /* our-contacts */
    .detail-title {
        font-size: 12px;
        margin-top: -21px;
        margin-bottom: 22px
    }

    .detail-subtitle {
        font-size: 12px;
        line-height: 1.5;
        padding-bottom: 67px;
    }

    iframe {
        width: 392px;
        height: 168px;
        margin-left: 1px;

    }

    .details {
        grid-template-columns: 1fr 1.4fr;
        grid-template-rows: 148px 266px;
        margin-left: -1px;
    }

    .detail-contacts {
        margin-left: -19px;
    }

    .flow-title {
        font-size: 12px;
        line-height: 1.3;
        padding-top: 37px;
        padding-bottom: 30px;
    }

    #demo-nav {
        display: none;
    }

    .scrollup {
        bottom: 142px;
        right: 12px;
    }
}